<div class="container-sm">
  <h4 class="mt-3">Archived Notes</h4>

  <%= render partial: "notes/notes_grid",
             locals: {
               notes: @notes,
               empty_message: "No archived notes."
             } %>
</div>

