<h4 class="mb-2 px-2 mt-2">All Notes</h4>

<%= render partial: "notes/notes_grid",
           locals: { notes: @notes, empty_message: "" } %>
<% if @notes.blank? %>
  <div class="mx-2">
    <%= link_to "Take a note ...", new_note_path, class: "btn btn-primary btn-sm" %>
  </div>
<% end %>
