<!--  <footer class="bg-dark text-light py-3 mt-4">-->
<!--  <div class="container text-center">-->
<!--    <small>Created with ❤️ by Masoud Habibzad</small><br/>-->
<!--    &copy; <%#= Time.current.year %> KeeNotes. All rights reserved.-->
<!--  </div>-->
<!--</footer>-->

<div class="footer-bg-cover" style="background-image: url('<%= asset_path("footer-bg-image.webp") %>');">
  <div class="container text-white text-center py-5">
    <div class="container mx-2 text-white">

      <br/>
      <div class="container text-center">
        <small>Created with ❤️ by Masoud Habibzad</small><br/>
        &copy; <%= Time.current.year %> KeeNotes. All rights reserved.
      </div>
    </div>
  </div>
</div>
