  <footer class="bg-dark text-light py-3 mt-4">
  <div class="container text-center">
    <small>Created with ❤️ by Masoud Habibzad</small><br/>
    &copy; <%= Time.current.year %> KeeNotes. All rights reserved.
  </div>
</footer>