/*
 * This is a manifest file that'll be compiled into application.css.
 *
 * With Propshaft, assets are served efficiently without preprocessing steps. You can still include
 * application-wide styles in this file, but keep in mind that CSS precedence will follow the standard
 * cascading order, meaning styles declared later in the document or manifest will override earlier ones,
 * depending on specificity.
 *
 * Consider organizing styles into separate files for maintainability.
 */

.favorite-star {
    cursor: pointer;
    position: relative;
}

/* Default */
.star-filled {
    display: none;
}

/* Checked → filled star */
#favorite-checkbox:checked + .favorite-star .star-filled {
    display: inline;
}

#favorite-checkbox:checked + .favorite-star .star-outline {
    display: none;
}

.bi-journals {
    color: #e0e0e0; !important;
}