/* Custom Palette Variables */
:root {
    --charcoal: #2E2F47;
    --teal: #47D9CE;
    --saffron: #E9C46A;
    --sandy-orange: #F4A261;
    --sienna-red: #E76F51;
    --off-white: #f5f5f5;
    --bg-green: #5F9598;
}

.favorite-star {
    cursor: pointer;
    position: relative;
}

/* Default */
.star-filled {
    display: none;
}

/* Checked → filled star */
#favorite-checkbox:checked + .favorite-star .star-filled {
    display: inline;
}

#favorite-checkbox:checked + .favorite-star .star-outline {
    display: none;
}

.bi-journals {
    color: #e0e0e0; !important;
}

.landing {
    min-height: 70vh;
}

@media (max-width: 576px) {
    .landing {
        min-height: 50vh;
    }
}


.navbar, .footer { background-color: var(--charcoal) !important; }

.btn-primary {
    background-color: var(--teal);
    border: none;
}

.note-card {
    border-radius: 12px;
    transition: transform 0.2s ease;
    border-left: 5px solid var(--teal) !important; /* Visual accent */
}

.note-card:hover {
    transform: translateY(-5px);
    box-shadow: 0 10px 20px rgba(0,0,0,0.1) !important;
}

.text-saffron { color: var(--saffron); }
.text-sienna { color: var(--sienna-red); }
.bg-sandy { background-color: var(--sandy-orange); color: #fff; }

/*.notes-body { background-color: var(--off-white) !important; }*/

.bg-green {
    background-color: var(--bg-green);
}

.bi-share {
    color: #2A9D8F; !important;
    cursor: pointer;
}

.required:after {
    content:" *";
    color: red;
}

/*Navbar styles*/
/* Logo */
.navbar-logo {
    height: 40px;
    width: auto;
}

/* Teal brand color */
.text-teal {
    color: #47D9CE !important;
}

/* Teal button */
.btn.btn-teal {
    background-color: var(--teal); !important;
    border-color: #20c997;
    color: #0e0e0e;
}

.btn.btn-teal:hover {
    background-color:#31E7AE;
    color: #0e0e0e;
}

/* Nav link hover */
.navbar-dark .nav-link {
    color: #f8f9fa;
}

.navbar-dark .nav-link:hover {
    color: #20c997;
}

/* app/assets/stylesheets/application.css or .scss */
.bg-cover {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.footer-bg-cover {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.container-600 {
    max-width: 600px !important;
    margin-left: 0; !important;
}

.btn.btn-outline-secondary:hover {
    background-color: var(--teal); !important;
    color: #fff;
}



